table, td, th {  
    border: 1px solid #ddd;
    text-align: center;
  }
  
  table {
    border-collapse: collapse;
    width: 400px;
    border-radius: 5px;
    border-width: 10px;
    
  }
li{
    margin: 10px
}